.sidebarcontainer{
    background-color: var(--qdark);
    width: 100%;
    min-height: 124px;
    display: flex; 
    justify-content: space-between  ;
    align-items: center;
    padding: 24px;
    border-radius: 24px;

}
.leftgroup{
    display: flex;
    gap: 16px;
    align-items: center ;
}
.round{

    background-color:  white;
    height: 60px;
    width: 60px;
    border-radius:  50%;

}

.purple{
    background-color: var(--qsecondary);
    width:  104px;
    padding: 16px 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--qlight);
}