.questionCard {
	background-color: var(--qdark);
	border-radius: 8px;
	padding: 16px;
	color: var(--qlight);
	text-transform: uppercase;
	max-width: 650px;
	width: 100vw;
}

.questionCardHeader,
.questionCardFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.questionCardCategory {
	display: flex;
	gap: 0.5rem;
}

.questionCardCustomBtns {
	display: flex;
	gap: 0.25rem;
}

.boxSecondary {
	background-color: var(--qsecondary);
	border-radius: 8px;
	padding: 8px 24px;
	font-size: 0.8rem;
}

.btnTernary {
	background-color: transparent;
	border: none;
	border-radius: 8px;
	padding: 5px;
}

.btnTernary:hover {
	background-color: var(--qsecondary);
}

.icon {
	aspect-ratio: 1;
	max-height: 24px;
}

.questionCardGrid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	max-width: 570px;
	width: 100%;
	margin: 1rem auto;
	color: var(--qdark);
}

.questionCardGridHeader {
	grid-column: 1 / 3;
	font-weight: 700;
}

.questionCardGridHeader,
.questionCardAnswer {
	background-color: var(--qlight);
	border-radius: 8px;
	border-style: none;
	padding: 24px 16px;
	width: 100%;
	text-align: center;
}

.questionCardAnswer {
	text-transform: inherit;
}

.questionCardAnswer:hover {
	opacity: 0.8;
}

.questionCardFooter {
	margin: 0 1.5rem;
}
