.question-card {
	background-color: var(--qdark);
	border-radius: 8px;
	padding: 16px;
	color: var(--qlight);
	text-transform: uppercase;
	max-width: 650px;
	width: 100vw;
}

.question-card-header,
.question-card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question-card-category {
	display: flex;
	gap: 0.5rem;
}

.question-card-custom-btns {
	display: flex;
	gap: 0.25rem;
}

.box-secondary {
	background-color: var(--qsecondary);
	border-radius: 8px;
	padding: 8px 24px;
	font-size: 0.8rem;
}

.btn-ternary {
	background-color: transparent;
	border: none;
	border-radius: 8px;
	padding: 5px;
}

.btn-ternary:hover {
	background-color: var(--qsecondary);
}

.icon {
	aspect-ratio: 1;
	max-height: 24px;
}

.question-card-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	max-width: 570px;
	width: 100%;
	margin: 1rem auto;
	color: var(--qdark);
}

.question-card-grid-header {
	grid-column: 1 / 3;
	font-weight: 700;
}

.question-card-grid-header,
.question-card-answer {
	background-color: var(--qlight);
	border-radius: 8px;
	border-style: none;
	padding: 24px 16px;
	width: 100%;
	text-align: center;
}

.question-card-answer {
	text-transform: inherit;
}

.question-card-answer:hover {
	opacity: 0.8;
}

.question-card-footer {
	margin: 0 1.5rem;
}
